@(media: List[Medium])(implicit flash: Flash)

@views.html.admin.main("メディア一覧") {
@if(flash.get("success")) {
  <p>@flash.get("success")</p>
}
<p>
<a href="@controllers.admin.routes.MediaController.build">新規メディア登録</a>
</p>
<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>メディア名</td>
      <td>URL</td>
      <td>フィードURL</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    @for(medium <- media) {
    <tr>
      <td>@medium.id</td>
      <td>@medium.name</td>
      <td><a href="@medium.url" target="_blank">@medium.url</a></td>
      <td><a href="@medium.feed_url" target="_blank">@medium.feed_url</a></td>
      <td>
        <a href="@controllers.admin.routes.MediaController.edit(medium.id)">編集</a>
        <a href="@controllers.admin.routes.MediaController.delete(medium.id)">削除</a>
      </td>
    </tr>
    }
  </tbody>
</table>
}
