@(media: List[Medium], medium_articles: List[MediumArticle])(implicit flash: Flash)

@views.html.admin.main("メディア一覧") {
@if(flash.get("success")) {
  <p>@flash.get("success")</p>
}
<p>
<a href="@controllers.admin.routes.MediaController.build">新規メディア登録</a>
</p>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>メディア名</th>
      <th>URL</th>
      <th>フィードURL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(medium <- media) {
    <tr>
      <td class="numeric">@medium.id</td>
      <td>@medium.name</td>
      <td><a href="@medium.url" target="_blank">@medium.url</a></td>
      <td><a href="@medium.feed_url" target="_blank">@medium.feed_url</a></td>
      <td>
        <a href="@controllers.admin.routes.MediaController.edit(medium.id)">編集</a>
        <a href="@controllers.admin.routes.MediaController.delete(medium.id)">削除</a>
      </td>
    </tr>
    }
  </tbody>
</table>

<h2>最近取得した記事</h2>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>取得日時</th>
    </tr>
  </thead>
  <tbody>
    @for(article <- medium_articles) {
    <tr>
      <td><a href="@article.url" target="_blank">@article.title</a></td>
      <td>@article.retrieved_at.toString()</td>
    </tr>
    }
  </tbody>
</table>
}
