body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-size: 14px;
}

div.article {
  margin-bottom: 1em;
  border-top: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 3px 3px 0px rgba(0,0,0,0.05);
  padding: .75em 1em 1em 1em;

  > h3 {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  > div.medium_name {
    span {
      display: inline-block;
      font-size: 10px;
      padding: .25em 1em;
      margin-left: -.5em;
      background-color: #eee;
      border-radius: 2px;
    }
  }

  > p {
    margin-top: .5em;
    margin-bottom: 0;
  }
}
