@import scala.xml.XML
@import views.helpers.{ HTMLHelper => h }
@import repositories.MediumArticleRepository

@(medium_articles: List[MediumArticle], page: Long)

@main("自転車アンテナ") {
  @for(article <- medium_articles) {
  <div class="article">
    <span class="published_at">@h.datetimeFormat(article.published_at, "yyyy年MM月dd日 HH時mm分")</span>
    <div class="medium_name">
      <span>@article.medium.name</span>
    </div>
    <h3><a href="@article.url">@article.title</a></h3>
    <p>
      <img src="@article.loadOrGetImageOriginalUrl" />
      @Html(h.truncate(h.stripTags(article.description).trim, 100))
    </p>
  </div>
  }

  <div class="pages">
  @if(page > 1) {
    <a href="/pages/@(page - 1)" class="previous"><i class="fa fa-chevron-left" aria-hidden="true"></i>前のページ</a>
  }
  @if(MediumArticleRepository.count > page * 20) {
    <a href="/pages/@(page + 1)" class="next">次のページ<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  }
  </div>

  <div id="Footer">
  </div>
}
